.create-errors p {
    color: red;
}

.create-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-light);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;
}

.title-hint, .description-hint {
    font-size: 20px;
    color: var(--text);
    margin-bottom: 10px;
}

.title-input, .create-form-container textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.create-form-container textarea {
    resize: none;
}

.edit-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 250px;
}

.edit-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 15px;
    max-width: 500px;
    margin: 20px auto auto;
    justify-items: center;
    align-items: center;
}

.skill input[type="checkbox"] {
    display: none;
}

.skill span {
    display: inline-block;
    width: 100px;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    background-color: var(--subtle-color);
    transition: background-color 0.3s, color 0.3s;
}

.skill input[type="checkbox"]:checked + span {
    background-color: var(--button-color);
    color: var(--button-text);
}

.create-button.create-page {
    margin-top: 20px;
    margin-bottom: 0;
}
