.project-container {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.project-container.columns-1 { grid-template-columns: 1fr; }
.project-container.columns-2 { grid-template-columns: repeat(2, 1fr); }
.project-container.columns-3 { grid-template-columns: repeat(3, 1fr); }

.project {
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
}

.project:last-child { margin-bottom: 20px; }

.project-image {
    width: 250px;
    height: 250px;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.project-details {
    background-color: var(--bg-light);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}

/* Titel & beschrijving */
.project-title {
    font-family: 'Lobster Two', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}
.project-description { font-size: 18px; }

.description-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description-text.expanded {
    -webkit-line-clamp: none;
}

/* Full description eerst hidden (default) */
.full-description {
    display: none;
}

/* Full description pas laten zien als er op de knop 'Lees meer' wordt geklikt */
.full-description.expanded {
    display: block;
}

/* Short description altijd laten zien (default) */
.short-description {
    display: block;
}

/* Short description hidden als full description is geopend */
.short-description.expanded {
    display: none;
}

/* Skills en admin-buttons naast elkaar */
.project-actions {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.project-skill-container {
    display: grid;
    gap: 10px;
    min-height: 90px;
    align-items: center;
    justify-items: center;
}

.project-skill-container.columns-1 { grid-template-columns: 1fr; }
.project-skill-container.columns-2 { grid-template-columns: repeat(2, 1fr); }

.project-skill {
    background-color: var(--subtle-color);
    color: var(--button-text);
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
    font-size: 14px;
    width: fit-content;
    cursor: pointer;
}

/* Admin buttons */
.admin-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: end;
    align-items: end;
}

.admin-buttons button, .create-button, .toggle-text {
    padding: 10px 15px;
    font-size: 16px;
    font-family: sans-serif;
    color: var(--text);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
}

.toggle-text {
    font-family: 'Lobster Two', sans-serif;
    color: var(--button-text);
    background-color: var(--button-color);
    margin-top: 10px;
}

.create-button {
    background-color: #52D078;
    margin-bottom: 40px; /* 20 van padding project en 20 van margin bottom op laatste project */
    color: var(--button-text);
}

.edit-button { background-color: #FFC570; }
.delete-button { background-color: #FF7070; }
.button-icon { color: var(--button-text); }

/* Responsive */
@media (max-width: 992px) {
    .project-container[class*="columns-"] { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 692px) {
    .project-container[class*="columns-"] { grid-template-columns: 1fr; }
}
