/* Basic reset voor de hele page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Root variabelen */
:root {
    --white-text: hsl(0 0% 95%);
}

/* Dark theme variabelen */
body.dark {
    --bg-dark: hsl(0 0% 0%);
    --bg: hsl(0 0% 5%);
    --bg-light: hsl(0 0% 10%);
    --navbar-color: hsl(0, 0%, 20%);
    --text: hsl(0 0% 95%);
    --text-muted: hsl(0 0% 70%);
    --button-color: hsl(0, 58%, 51%);
}

/* Light theme variabelen */
body.light {
    --bg-dark: hsl(0 0% 90%);
    --bg: hsl(0 0% 95%);
    --bg-light: hsl(0 0% 100%);
    --navbar-color: hsl(0, 0%, 75%);
    --text: hsl(0 0% 5%);
    --text-muted: hsl(0 0% 30%);
    --button-color: hsl(211, 92%, 56%);
}

/* font, background en color voor de gehele body */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg);
    color: var(--text);
}

/* Nav section */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100px;
}

/* Burger button */
.burger {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--navbar-color);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

/* burger drie strepen */
.burger span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 3px;
    background: var(--text);
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

/* plaats de strepen in het midden */
.burger span:nth-child(1) { top: 13px; }
.burger span:nth-child(2) { top: 23px; }
.burger span:nth-child(3) { top: 33px; }

/* eerste streep draait 45 graden */
.burger.active span:nth-child(1) {
    top: 23px; /* verticaal in het midden */
    transform: translateX(-50%) rotate(45deg);
}

/* tweede streep gaat weg */
.burger.active span:nth-child(2) {
    opacity: 0;
}

/* derde streep draait 45 graden ander kant op, resultaat is X logo */
.burger.active span:nth-child(3) {
    top: 23px; /* verticaal in het midden */
    transform: translateX(-50%) rotate(-45deg);
}

/* Nav links eerst doorzichtig */
.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

/* Expanded nav links niet meer doorzichtig dus normaal laten zien */
.nav-links.show {
    margin-top: 16px;
    max-width: 500px;
    opacity: 1;
}

/* nav links styling */
.nav-links > a {
    font-size: 18px;
    color: var(--text);
    text-decoration: none;
    padding-bottom: 4px; /* ruimte voor de onderlijn */
    display: inline-block;
}

/* onderlijn styling en animatie */
.nav-links > a::after {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    transform: scaleX(0);
    background: var(--button-color);
    border-radius: 5px;
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
    margin-top: 3px;
}

/* Hover and active effect */
.nav-links > a:hover::after,
.nav-links > a.active::after {
    transform: scaleX(1);
}

/* Main section (view) */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

main > h1 {
    font-size: 34px;
    padding: 20px;
}

/* Toggle slider theme section */
.toggle-slider-theme {
    position: fixed;
    top: 30px;
    left: 100px;
}

.toggle-slider-theme > label {
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

.toggle-slider-theme .thumb {
    position: absolute;
    top: 50%;
    left: 2px;
    width: 26px;
    height: 26px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: transform 0.3s ease;
}

/* icoon styling */
.toggle-slider-theme .thumb i {
    font-size: 16px;
    color: #f39c12; /* gouden zon icoon */
    position: absolute;
    transition: opacity 0.3s ease, color 0.3s ease;
}

/* maan icoon default zichtbaar */
.toggle-slider-theme .thumb .fa-moon {
    color: #1c1c1c;
    opacity: 1;
}

/* zon icoon default hidden */
.toggle-slider-theme .thumb .fa-sun {
    opacity: 0;
}

/* laat zon icoon zien en hide maan icoon */
.toggle-slider-theme input[type="checkbox"]:checked + label .thumb .fa-moon {
    opacity: 0;
}

.toggle-slider-theme input[type="checkbox"]:checked + label .thumb .fa-sun {
    opacity: 1;
}

.theme-toggle {
    display: none;
}

.theme-toggle + label {
    background-color: hsl(0, 58%, 51%);
}

.theme-toggle:checked + label {
    background-color: hsl(211, 92%, 56%);
}

.theme-toggle:checked + label .thumb {
    transform: translate(30px, -50%);
}

/* Footer section */
.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px 20px;
    background-color: var(--button-color);
    color: var(--white-text);
    font-size: 14px;
    border-top-left-radius: 8px;
}
